.experiences {
    // display: flex;
    // width: 70vh;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;

    header {
        width: 100%;
        // flex:none;
        display: flex;
    }

    .content {
        // flex:none;
        display: flex;

        aside {
            padding: 20px 22px;
            box-sizing: border-box;
            width: 30%;
            background-color: #001529;
            color: #fff;
            color: #0f4980;
        }

        main {
            background-color: #fff;
            width: 70%;
            display: flex;
            flex-direction: column;

            .main-area {
                padding: 5px 5vh;
                display: flex;
                flex-direction: column;
            }

            .skills {}

            .first-page-keyword {
                .keyword-content {
                    display: flex;

                    .single-key {
                        flex: auto;
                        padding: 0 5px;
                    }
                }

                .triggle {
                    padding: 5px 0;
                    display: flex;
                    justify-content: flex-end;
                    font-size: 23px;

                    .triggle-name {
                        cursor: pointer;
                        color: #dd9120;

                        &:hover {
                            color: #001529;
                        }
                    }
                }
            }
        }
    }
}