/*
 * @Author: duanlinlin 
 * @Date: 2019-01-20 17:30:35 
 * @Last Modified by: duanlinlin
 * @Last Modified time: 2019-01-23 23:07:40
 */
$time : 1.5s;
@mixin get-slideout-name($name,$val) {
    animation: slideout $time/$val steps(2, end);
}
@mixin get-left-animation-name($name) {
    animation-name: $name;
}
@mixin get-right-animation-duration($val) {
    animation-duration: $time/$val;
}
.percent {
    flex: none;
    width: 100px;
    height: 100px;
    position: relative;
    .category-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: textslidein 1 linear 3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 4;
    }
    .hide-cover {
        position: absolute;
        background-color: #fff;
        width: 50%;
        height: 100%;
        opacity: 0;
        z-index: 3;
    }
    .hide-cover-per-75{
        @include get-slideout-name(slideout, 0.75);
    }
    .hide-cover-per-80{
        @include get-slideout-name(slideout, 0.8);
    }

    .cicle {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        border: 10px solid #0c2850;
        position: absolute;
        border-radius: 50%;
        clip: rect(0px, 50px, 100px, 0px);
    }

    .base {
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    .left {
        animation-duration: 3s;
    }
    .right {
        animation-name: rightspin;
    }

    
    .left-per-75{
        @include get-left-animation-name(leftper75);
    }
    .left-per-80{
        @include get-left-animation-name(leftper80);
    }
    
    .right-per-75{
        @include get-right-animation-duration(0.75);
    }
    .right-per-80{
        @include get-right-animation-duration(0.8);
    }
    @keyframes textslidein {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @keyframes slideout {
        0% {
            opacity: 1;
        }

        99% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    /* Rotate the right side of the progress bar from 0 to 180 degrees */
    @keyframes rightspin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(180deg);
        }
    }

    /* Rotate the left side of the progress bar from 0 to 360 degrees */
    @keyframes leftper75 {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(270deg);
        }
    }
    @keyframes leftper80 {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(288deg);
        }
    }
}