/*
 * @Author: duanlinlin 
 * @Date: 2019-01-30 16:18:12 
 * @Last Modified by: duanlinlin
 * @Last Modified time: 2019-02-16 17:03:33
 */
 .entry{
    height: 100vh;
    position: relative;
    overflow: hidden;
    .dot-triggle{
        position: fixed;
        left: 2vh;
        top:50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        .dot__single{
            border-radius: 50%;
            box-shadow: inset 0 0 0 3px #fff;
            cursor: pointer;
            height: 16px;
            margin-bottom: 10px;
            opacity: .4;
            position: relative;
            width: 16px;
            box-sizing: border-box;
            &.active{
                background: #fff;
                box-shadow: none;
            }
        }
    }
}